<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bangers-Regular.ttf</string>
		<string>ComicNeue-Regular.ttf</string>
		<string>ComicNeue-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.sid.retrohabits.refresh</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>RetroHabits shows events from your iPhone calendars (Apple Calendar and any synced account, like your school email) in your daily agenda.</string>
</dict>
</plist>
